@import url(http://fonts.googleapis.com/css?family=Unkempt|Indie+Flower);

.headers {
  font-family: 'Unkempt', cursive;
  color: #DC143C;
}

li {
  font-family: 'Indie Flower', cursive;
  color: #6495ED;
}
img.gif {
  max-height: 300px;
  max-width: 500px;
  width: 400px;
  height: 250px;
  display: block;
  margin-left: 100px;
  margin-right: 100px;
}
